.honeycomb {
    padding-top: 20px;
    display: inline-block;
    border-radius: 5px;
    min-width: 600px;
}

.row {
    margin-top: -11px;
}

.row div {
    display: inline-block;
}

.row.odd {
    margin-left: 11px;
}

.hexagon {
    filter: drop-shadow( 4px 5px 4px rgba(0, 0, 0, 0.9));
}

#hex {
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}

#hex:hover {
    z-index: 10000000;
    transform: scale(1.5);
}

#hex-shape {
    transition: all 0.2s;
}

#hex:hover #hex-shape {
    stroke: black;
    stroke-opacity: 1;
}
