.honeycomb {
    padding-top: 20px;
    display: inline-block;
    border-radius: 5px;
    min-width: 600px;
}

.row {
    margin-top: -11px;
}

.row div {
    display: inline-block;
}

.row.odd {
    margin-left: 11px;
}

.hexagon {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.hexagon:hover {
    filter: drop-shadow( 4px 5px 4px rgba(0, 0, 0, 0.9));
    z-index: 601;
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}

.hexagon.selected {
    filter: drop-shadow( 4px 5px 4px rgba(0, 0, 0, 0.9));
    z-index: 600;
    transform: scale(20);
}

#hex-svg-path {
    transition: all 0.2s ease-in-out;
}

.hexagon:hover #hex-svg-path {
    stroke: #0d63ff;
    stroke-opacity: 1;
}

.hexagon.selected #hex-svg-path {
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 0.2;
}